.card-maker {
    position: relative;
    padding: 20px;
    .header {
        border-bottom: solid thin #333;
        padding: 10px;
    }
    .work-area {
        position: relative;
        margin: 10px;
    }
}