.transform-element {
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.resize-gripper {
  cursor: grabbing;
  background-color: #FFF;
  width: 8px;
  height: 8px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.6);
}
.move-gripper {
  cursor: move;
  background: rgba(0, 0, 0, 0.05);
}
.transformer-border {
  border: dashed thin #090;
}
.left-resize-gripper, .right-resize-gripper {
    height: 16px;
    cursor: col-resize;
}
.bottom-resize-gripper, .top-resize-gripper {
    width: 16px;
    cursor: row-resize;
}
.bottom-right-resize-gripper {
    cursor: nwse-resize;
}